*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media screen and (max-width: 100%) {
    .container {
        width: 100%;
    }

}

a{
    text-decoration: none;
    color: inherit;
    }

.barre-haut{
    display: flex;
    background-color:black;
    justify-content:center;
    color: white;
    font-family: cursive;
    font-size: 75%;
    padding:0.5% ;
}

.barre-haut p{
    opacity: 0.75;
}

.barre-haut h5{
    font-size: 100%;
    margin-left: 1%;
    text-decoration: underline;
}

#langage{
    background-color: black;
    border: none;
    color: white;
}

.lang{
    position: relative;
    left: 292px;
}

.navigation{
    display:inline-flexbox;
    padding: none;
    border-bottom: 1%;
    border-color: rgb(166, 166, 166);
    border-bottom-style:solid;
}

.navigation ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 2%;
    padding-bottom: 0.5%;
}

.navigation ul li a{
    text-decoration: none;
    color: black;
}

.navigation ul li a:hover,
.navigation ul li a:focus,
.navigation ul li a:active{
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom: groove;
    
}

.navigation ul li a img{
    width: 30px;
    height: auto;
}

.exclusive{
    position: relative;
    left: 135px;
    font-size:larger;
}



.home{
    position: relative;
    left:220px;
}

.contact{
    position: relative;
    left: 160px;
}

.about{
    position: relative;
    left:100px;
}

.sign{
    position:relative;
    left:35px;
}

#search{
    position: relative;
    left: 90px;
    top: -2px;
    border: none;
    background-color: rgb(232, 231, 231);
    padding: 3%;
    width: auto;
}

.logo-panier{
    position: relative;
    right:-65px;
    top:-3px;
}

.logo-coeur{
    position: relative;
    right: 115px;
    top:-1px;
}

.logo-user{
    position: relative;
    right: 180px;
    top:-5px;
}

footer{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
    font-family: sans-serif;
    justify-items: center;
    padding: 5%;
}

#email{
    background-color: transparent;
    color: rgb(156, 156, 156);
    font-family: sans-serif;
    text-align: center;
    border-radius: 2px;
    border-color: white;
    margin-top:15%;
    border:50%;
}

.partie1{
    display: grid;
    grid-template-rows: 2fr;
    margin-left: 13%;
    margin-right: 13%;
}


.partie1-l1{
    display:flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 3%;
}



.p1-l1-b2{
    border:2px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-color: black;
    border-radius: 2px;
    border-style: groove;
}


.partie1-l2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.partie1-l2 div img{
    width: 270px;
    height: 250px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: gainsboro;
    margin-bottom: 1%;
 }

 .partie1-l2 div{
    margin-bottom: 1%;
    font-family: sans-serif;
}

.partie1-l2 div h4{
    margin-bottom: 1%;
}

.partie1-l2 div p{
    margin-bottom: 1%;
    color:rgb(247, 58, 58) ;
}


.rating {
    font-size: 24px;
}

.rating input[type="radio"] {
    display: none; 
}

.rating label {
    color: gray;
    cursor: pointer;
}

.rating input[type="radio"]:checked + label {
    color: gold;
}

.partie2{
    display: grid;
    grid-template-rows: 2fr;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 5%;
}

.partie2-l1{
    display:flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 3%;
}

.p2-l1-b1{
    display:flex;
    background-color:  rgb(247, 58, 58);
    border-radius: 3px;
    width:1.5%;    
    color: rgb(247, 58, 58);
    margin-bottom:2%;
}

.p2-l1-b1 h4{
    position: relative;
    margin-left:140%;
    font-weight: bold;
}


.p2-l1-b2{
    border:2px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-color: black;
    border-radius: 2px;
    border-style: groove;
}


.partie2-l2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.partie2-l2 div img{
    width: 270px;
    height: 250px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: gainsboro;
    margin-bottom: 1%;
 }

 .partie2-l2 div{
    margin-bottom: 1%;
    font-family: sans-serif;
}

.partie2-l2 div h4{
    margin-bottom: 1%;
}

.partie2-l2 div p{
    margin-bottom: 1%;
    color:rgb(247, 58, 58) ;
}

footer div h3:hover, footer div p:hover, footer div h5:hover{
    color: rgb(247, 58, 58);
    cursor: pointer;
}